body {
  background-image: url("../img/money.jpg");
}

/*****************
  HEADER
*****************/



/*
  To do:
  Cursor image, fixed nav bar without affecting display, heroku issues;
*/

h1 {
  float: left;
  text-align: center;
  padding: none;
  margin: 5% 0 0 3%;
  width: 45%;
  font-size: 3.5em;
  font-family: 'Bellefair', serif;
}

nav img {
  height: 169.2px;
  width: 300px;
  margin-left: 7%;
  padding: none;
  clear: both;
}

nav ul {
 /* margin-left: 60%;*/
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-family: 'Coda Caption', sans-serif;
  font-size: 20px;
}

a:hover {
  cursor: wait;
}

a:active {
  cursor: pointer;
}

header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  overflow: auto;
  position: fixed;
}

#image-nav {
  float: right;
  width: 45%;
}

header {
  border-bottom: 3px solid black;
  margin-bottom: 100px;
  background-color: white;
}



nav a.selected {
  color: purple;
/*  font-size: 100px;*/
}

/******************
  MAIN PAGE
******************/

#home-page-left {
  float: left;
  margin: 0 1.5%;
  width: 45%;
  background-color: black;
  color: white;
  clear: both;
  padding: 1%;
}

#home-page-right {
  float: right;
  margin: 0 1.5%;
  width: 45%;
  background-color: black;
  color: white;
  padding: 1%;
}

/******************
  Footer
******************/

footer {
  padding-top: 20px;
  clear: right;
  font-size: 30px;
  color: orange;
  text-align: center;
}

.custom {

}




