body {
  background-image: url("../img/money.jpg");
}

/*****************
  HEADER
****************/


/*.container {
  position: relative;
  overflow: hidden;
}

.container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}*/

/*  To do:
  Cursor image, fixed nav bar without affecting display, heroku issues;*/


h1 {
  float: left;
  text-align: center;
  padding: none;
  margin: 5% 0 0 3%;
  width: 45%;
  font-size: 3.5em;
  font-family: 'Bellefair', serif;
}

nav img {
  height: 169.2px;
  width: 300px;
  margin-left: 7%;
  padding: none;
  clear: both;
}

nav ul {
 /* margin-left: 60%;*/
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-family: 'Coda Caption', sans-serif;
  font-size: 20px;
}

a:hover {
  cursor: url("../img/sharkcursor.png"), auto;
  text-shadow: 2px 2px 2px #B1A99B;
}

a:active {
  cursor: pointer;
}

header {
 /* margin: 0 0 30px 0;*/
  padding: 5px 0 0 0;
  width: 100%;
  overflow: auto;
  position: fixed;
}

#image-nav {
  float: right;
  width: 45%;
}

header {
  border-bottom: 3px solid black;
  background-color: #737E6E;
}



nav a.selected {
  color: #B1A99B;
  text-shadow: 2px 2px 2px black;
/*  font-size: 100px;*/
}

/******************
  MAIN PAGE
******************/

#home-page-left {
  float: left;
  margin: 0 1.5%;
  width: 45%;
  background-color: #B1A99B;
  color: black;
  clear: both;
  padding: 1%;
  box-shadow: 5px 5px 5px black;
}

#home-page-right {
  float: right;
  margin: 0 1.5%;
  width: 45%;
  background-color: black;
  color: #B1A99B;
  padding: 1%;
  box-shadow: 5px 5px 5px #B1A99B;
}

/******************
  Loan Page
******************/

#loan-head {
  text-align: center;
  font-size: 50px;
}

form {
  background-color: black;
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 5px;
}

/*form p {
  float: left;

}
*/
form input {
  width: 290px;
  height: 50px;
  margin-bottom: 5px;
  clear: left;
}

#submit {
  background-color: #737E6E;
}

/******************
  Footer
******************/

footer {
  padding-top: 20px;
  clear: right;
  font-size: 30px;
  color: black;
  text-align: center;
}

/*.info {
  margin-top: 50px;
}
*/


